<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="icon" href="https://bcw.blob.core.windows.net/public/img/9977764104160066">
  <link rel="stylesheet" href="https://codeworks.blob.core.windows.net/public/assets/style/v2/main.css">
  <link rel="stylesheet" href="/sec-journal/assets/css/prism.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.8.0/themes/prism-dracula.css"
    integrity="sha256-db9J/wlf5auTwnCkwkWwb0iwOrHddSP9B6xRHWaWXjs=" crossorigin="anonymous">
  <link rel="stylesheet" href="/sec-journal/assets/css/style.css">
  {%- feed_meta -%}
</head>